@model IEnumerable<ActualBattleViewModel>
@using BetTeamsBattle.Data.Model.Entities
@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Battle
@using Resources
@{
    Layout = MVC.Shared.Views._Layout;
}
<h2>@Battles.ActualBattles</h2>
@foreach (var battle in Model)
{
    <text>
    @battle.StartDate-@battle.EndDate @battle.Budget
    @Html.Partial(MVC.NotAdmin.Battles.Views.JoinOrLeaveBattle, battle)
    @Html.ActionLink(battle.JoinOrLeaveTitle, battle.JoinOrLeaveActionResult)
    @if (battle.IsJoined)
    {
        <text>
        @battle.Earned @battle.EarnedPercents (@battle.TotalBetsCount/@battle.OpenBetsCount)
        @Html.ActionLink(Battles.MyBets, MVC.NotAdmin.BattleBets.MyBets(battle.Id))
        </text>
    }
    
    </text>
}
