@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Battle
@using BetTeamsBattle.Frontend.Models.Shared
@using Resources
@model AllBattlesViewModel

@Html.Partial(MVC.Shared.Views._LeftColumnBlock, new LeftColumnBlockViewModel(Battles.CurrentBattles, @<text>
@foreach (var currentBattle in Model.CurrentBattlesViewModels)
{ 
    <div class="list">
        @currentBattle.StartDate-@currentBattle.EndDate / @currentBattle.Budget / @currentBattle.BetLimit%
        @Html.ActionLink(Battles.More, MVC.NotAdmin.Battles.Battle(currentBattle.Id))
    </div> 
}
</text>))
@Html.Partial(MVC.Shared.Views._LeftColumnBlock, new LeftColumnBlockViewModel(Battles.NotStartedBattles, @<text>
@foreach (var notStartedBattle in Model.NotStartedBattlesViewModels)
{
    <div class="list">
        @notStartedBattle.StartDate-@notStartedBattle.EndDate / @notStartedBattle.Budget / @notStartedBattle.BetLimit%
        @Html.ActionLink(Battles.More, MVC.NotAdmin.Battles.Battle(notStartedBattle.Id))
    </div>
}
</text>))
@Html.Partial(MVC.Shared.Views._LeftColumnBlock, new LeftColumnBlockViewModel(Battles.FinishedBattles, @<text>
@foreach (var finishedBattle in Model.FinishedBattlesViewModels)
{
    <div class="list">
        @finishedBattle.StartDate-@finishedBattle.EndDate / @finishedBattle.Budget / @finishedBattle.BetLimit%
        @Html.ActionLink(Battles.More, MVC.NotAdmin.Battles.Battle(finishedBattle.Id))
    </div>
}
</text>))
