@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Battles
@using BetTeamsBattle.Frontend.Authentication
@using Resources
@model BattleViewModel
@{
    Layout = MVC.NotAdmin.Shared.Views._BattleLayout;
}
@section RightBlockStart {
<div class="pravo_blok_battle"> <div class="pravo_blok2_battle"> <div class="pravo_content_battle">
}
@section RightBlockFinish { </div></div></div>
}
@section head_s{
    @Html.Raw("class=\"hed_s\"")
}
@if (CurrentUser.NullableUserId.HasValue)
{
    @Html.Partial(MVC.NotAdmin.Battles.Views._MyBattleStatistics, Model.BattleStatistics)
}
@if (Model.BattleIsActive)
{
    <a class="gg" href="@Url.Action(MVC.NotAdmin.Bets.MakeBet(Model.BattleId))">
        <li class="knopka_st">@Bets.MakeBet</li>
    </a>
}
@Html.Action(MVC.NotAdmin.Bets.GetMyBattleBets(Model.BattleId))
