@using Links
@using SquishIt.Framework
@using SquishIt.Mvc
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <meta name="google-site-verification" content="eK2q3syx6-2uDCz0h9gr08Lxget8890576qrG8XKClc" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Html.Raw(Bundle.Css().
        Add(Content.file_css).
        Add(Content.menu_style_css).
        Add(Content.botton_css).
        Add(Content.tooltip_css).
        RenderMvc(Content.Bundles.site_css).
        ToHtmlString())
    @Html.Raw(Bundle.JavaScript().
        Add(Scripts.jquery_1_6_2_min_js).
        Add(Scripts.jquery_validate_min_js).
        Add(Scripts.jquery_validate_unobtrusive_min_js).
        Add(Content.js.blik_js).
        Add(Content.js.tooltip_js).
        RenderMvc(Content.Bundles.site_js).
        ToHtmlString())
    @RenderSection("Scripts", false)
</head>
<body>
    <div
    @if (IsSectionDefined("osnova_d"))
    { 
    @RenderSection("osnova_d")
    }
    else
    {
    <text>id="osnova_d"</text>
    }
    >
        <div class="osnova">
            <div class="heder">
                <a href="@Url.Action(MVC.NotAdmin.Home.Index())">
                    <div class="logo">
                    </div>
                </a>
            </div>
            <div class="menu">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="td1">
                            </td>
                            <td class="td2">
                            </td>
                            <td class="td3">
                            </td>
                            <td class="td4">
                            </td>
                            <td class="td5">
                            </td>
                            <td class="td6">
                                @Html.Partial(MVC.NotAdmin.Accounts.Views.AccountLink)
                                @Html.Partial(MVC.NotAdmin.Accounts.Views.SignInOrSignOutLink)
                            </td>
                            @Html.Partial(MVC.Shared.Views.Languages._AllLanguages)
                        </tr>
                    </tbody>
                </table>
            </div>
            @RenderBody()
        </div>
        <div class="empty">
        </div>
    </div>
    <div class="foter">
        <div class="menu_dubl">
        </div>
        <div class="copyright">
            BetTeamsBattle, @DateTime.Now.Year
        </div>
    </div>
</body>
</html>
