@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Accounts
@using Resources
@model SignUpViewModel
@{
    Layout = MVC.Shared.Views.OneColumn._OneColumnLayout;
}
@section Title{
    @Accounts.SigningUp
}
<div class="text_login">
    @Accounts.OpenIdUrlFirstTime
</div>
@using (Html.BeginForm(MVC.NotAdmin.Accounts.SignUp(), FormMethod.Post, new { @class="form_auto" }))
{
    <text>
    @Html.ValidationSummary(Common.ValidationSummaryCaption, true)
    @Forms.TextBox(Html, m => m.Login, Accounts.Login)
    @Html.HiddenFor(m => m.OpenIdUrl, Model.OpenIdUrl)
    @Forms.SubmitButton(Accounts.SignUp)
    </text>
}