@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.BattleBets
@using Resources
@model BetsViewModel
@helper PossiblyInvisibleElement(Func<object, dynamic> content, BetViewModel betViewModel)
    {
        if (betViewModel.IsVisible)
        {
            @content(null)
        }
        else
        {
            @Forms.Image(betViewModel.InvisibleIconClass, betViewModel.InvisibleIconTitle);
        }
    }
<div class="my_s">
    @Model.Title
</div>
<div class="pravo_content2_battle">
    <div class="pravo_content2_hed">
        @if (Model.Bets.Count() == 0)
        {
            <div class="battel_n">
                @Model.NoBetsMessage
            </div>
        }
        else
        {
            <table class="tabl_battel">
                <tbody>
                    <tr class="tabl_battel_n">
                        <td class="tabl_battel_n1">
                            @BattleBets.Title
                        </td>
                        <td class="tabl_battel_n2">
                            @BattleBets.Amount
                        </td>
                        <td class="tabl_battel_n4">
                            @BattleBets.BetStarted
                        </td>
                        <td class="tabl_battel_n5">
                            @BattleBets.BetFinished
                        </td>
                        <td class="tabl_battel_n6">
                            @BattleBets.Outcome
                        </td>
                    </tr>
                    @foreach (var bet in Model.Bets)
                    {
                        <tr class="stroca">
                            <td>
                                @PossiblyInvisibleElement(@<span class="stroka_t">@bet.Title</span>, bet)
                            </td>
                            <td>
                                @PossiblyInvisibleElement(@<text>
                                <span class="bet">@bet.Amount$<span class="cof"> x @bet.Coefficient</span></span>
                                @Forms.ActionImage(bet.Url, BookmakerIcon.GetClass(), BattleBets.BetOnBookmakersSite)
                                </text>, bet)
                                
                            </td>
                            <td>
                                @Html.Partial(MVC.NotAdmin.BattleBets.Views._DateAndScreenshot, bet.OpenDateAndScreenshot)
                            </td>
                            <td>
                                @Html.Partial(MVC.NotAdmin.BattleBets.Views._DateAndScreenshot, new ViewDataDictionary(bet.CloseDateAndScreenshot))
                            </td>
                            <td>
                                @Html.Partial(MVC.NotAdmin.BattleBets.Views._Outcome, bet)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
