@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.BattleBets
@using Resources
@model MakeBetViewModel
@{
    Layout = MVC.NotAdmin.Shared.Views._BattleLayout;
}
@section RightBlockStart {
<div class="pravo_blok_battle_n">
}
@section RightBlockFinish { </div>
}
@section head_s{
    @Html.Raw("class=\"hed_s_n\"")
}
@using (Html.BeginForm(MVC.NotAdmin.BattleBets.MakeBet(Model.BattleId), FormMethod.Post, new { @class = "form" }))
{
    @Html.ValidationSummary(true, Common.ValidationSummaryCaption)
    
    @Forms.DropDownList(Html, m => m.MakeBetForm.TeamId, BattleBets.MakeBetOnBehalfOf, Model.Teams)
    @Forms.TextBox(Html, m => m.MakeBetForm.Title, BattleBets.Title)
    @Forms.TextBox(Html, m => m.MakeBetForm.Url, BattleBets.Url)
    @Forms.TextBox(Html, m => m.MakeBetForm.Bet, BattleBets.Bet)
    @Forms.TextBox(Html, m => m.MakeBetForm.Coefficient, BattleBets.Coefficient)
    @Forms.CheckBox(Html, m => m.MakeBetForm.IsPrivate, BattleBets.PrivateBet)

    <div class="btn_n">
        <span class="button">
            <input type="submit" value="@BattleBets.MakeBet" /></span>
    </div>
}