@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.BattleBets
@using Resources
@model IEnumerable<MyBetViewModel>
<div class="my_s">
    @BattleBets.MyBets
</div>
@if (Model.Count() == 0)
{
    <text>
    @BattleBets.YouHaveMadeNoBetsInThisBattle
    </text>
}
else
{
    <div class="pravo_content2_battle">
        <div class="pravo_content2_hed">
            <table class="table_stavka">
                <tbody>
                    <tr>
                        <td class="td_1_s">
                            @BattleBets.Title
                        </td>
                        <td class="td_2_s">
                            @BattleBets.Bet
                        </td>
                        <td class="td_3_s">
                            @BattleBets.Coefficient
                        </td>
                        <td class="td_4_s">
                            @BattleBets.BetStarted
                        </td>
                        <td class="td_5_s">
                            @BattleBets.BetFinished
                        </td>
                        <td class="td_6_s">
                            @BattleBets.Status
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="table_stavka_1">
            <tbody>
                @foreach (var myBet in Model)
                {
                    <tr>
                        <td class="td1_1">
                            @myBet.Title
                        </td>
                        <td class="td1_3">
                            @myBet.Bet$
                        </td>
                        <td class="td1_4">
                            @myBet.Coefficient
                        </td>
                        <td class="td1_5">
                            @Html.Partial(MVC.NotAdmin.BattleBets.Views._DateAndScreenshot, new DateAndScreenshotViewModel(myBet.OpenDateTime, myBet.OpenScreenshotStatusString, myBet.OpenScreenshotStatusClass, myBet.OpenScreenshotUrl))
                        </td>
                        <td class="td1_5">
                            @Html.Partial(MVC.NotAdmin.BattleBets.Views._DateAndScreenshot, new DateAndScreenshotViewModel(myBet.CloseDateTime, myBet.CloseScreenshotStatus, myBet.CloseScreenshotStatusClass, myBet.CloseScreenshotUrl))
                        </td>
                        <td class="td1_8">
                            @Forms.ActionImage(Url, MVC.NotAdmin.BattleBets.BetSucceeded(myBet.BattleBetId), "scr", BattleBets.Succeeded)
                            <br />
                            @Forms.ActionImage(Url, MVC.NotAdmin.BattleBets.BetFailed(myBet.BattleBetId), "scr", BattleBets.Failed)
                            <br />
                            @Forms.ActionImage(Url, MVC.NotAdmin.BattleBets.BetCanceledByBookmaker(myBet.BattleBetId), "scr", BattleBets.CanceledByBookmaker)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}