@model BattleBaseViewModel
@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models
@using Resources
@{
    Layout = MVC.Shared.Views.TwoColumns._TwoColumnsLayout;
}
@section LeftBlock {
    @Html.Action(MVC.NotAdmin.Teams.BattleTopTeams(Model.BattleId))
}
@section RightBlock {
    @RenderSection("RightBlockStart", true)
    <div @RenderSection("head_s", true)>
        <div class="hed_s_text">
             @BattleName.Get(Model.StartDate, Model.EndDate, Model.Budget, Model.BetLimit)
        </div>
    </div>
    @RenderBody()
    @RenderSection("RightBlockFinish", true)
}
