@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Battles
@using Resources
@model BattleViewModel
<div class="statistics">
    <div class="my_s">
        @Battles.MyBattleStatistics
    </div>
    <span class="statistiks_line">Balance <span class="rezulnat_st">@Model.Balance</span>
    </span>
    <span class="statistiks_line">Earned 
        <span class="rezulnat_st">@ColoredNumber.Span(Model.Earned)</span>
        <span class="rezulnat_st">@ColoredNumber.Span(Model.EarnedPercents, "%")</span>
    </span>
    <span class="statistiks_line">Total bets <span class="rezulnat_st">@Model.TotalBetsCount</span>
    </span>
    <span class="statistiks_line">
        Not closed bets
        <span class="rezulnat_st">@Model.OpenBetsCount</span>
    </span>
</div>
