@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Battles
@using BetTeamsBattle.Frontend.Models.Shared
@using Resources
@model AllBattlesViewModel

@Html.Partial(MVC.Shared.Views.ThreeColumns._LeftColumnBlock, new ColumnBlockViewModel(Battles.CurrentBattles, @<text>
@foreach (var currentBattle in Model.CurrentBattlesViewModels)
{ 
    <div class="list">
        @BattleName.Get(currentBattle.StartDate, currentBattle.EndDate, currentBattle.Budget, currentBattle.BetLimit)
        @Html.ActionLink(Battles.More, MVC.NotAdmin.Battles.GetBattle(currentBattle.BattleId))
    </div> 
}
</text>))
@Html.Partial(MVC.Shared.Views.ThreeColumns._LeftColumnBlock, new ColumnBlockViewModel(Battles.NotStartedBattles, @<text>
@foreach (var notStartedBattle in Model.NotStartedBattlesViewModels)
{
    <div class="list">
        @BattleName.Get(notStartedBattle.StartDate, notStartedBattle.EndDate, notStartedBattle.Budget, notStartedBattle.BetLimit)
        @Html.ActionLink(Battles.More, MVC.NotAdmin.Battles.GetBattle(notStartedBattle.BattleId))
    </div>
}
</text>))
@Html.Partial(MVC.Shared.Views.ThreeColumns._LeftColumnBlock, new ColumnBlockViewModel(Battles.FinishedBattles, @<text>
@foreach (var finishedBattle in Model.FinishedBattlesViewModels)
{
    <div class="list">
        @BattleName.Get(finishedBattle.StartDate, finishedBattle.EndDate, finishedBattle.Budget, finishedBattle.BetLimit)
        @Html.ActionLink(Battles.More, MVC.NotAdmin.Battles.GetBattle(finishedBattle.BattleId))
    </div>
}
</text>))
