@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Battle
@using Resources
@model AllBattlesViewModel
@*@Battles.CurrentBattles
@foreach (var currentBattle in Model.CurrentBattlesViewModels)
{
    <text>
    @currentBattle.Budget / @currentBattle.BetLimit% / @currentBattle.StartDate-@currentBattle.EndDate
    <br />
    </text>
}*@
<div id="levo_blok1">
    <div id="levo_blok1_head">
       @* @Battles.NotStartedBattles*@
    </div>
    <div id="levo_blok1_content">
        @foreach (var notStartedBattle in Model.NotStartedBattlesViewModels)
        {
            <div class="list">
            @notStartedBattle.Budget / @notStartedBattle.BetLimit% / @notStartedBattle.StartDate-@notStartedBattle.EndDate (@notStartedBattle.InDaysString)
            </div>
        }
    </div>
</div>
@*@Battles.FinishedBattles
<br />
@foreach (var finishedBattle in Model.FinishedBattlesViewModels)
{
    <text>
    @finishedBattle.Budget / @finishedBattle.BetLimit% / @finishedBattle.StartDate-@finishedBattle.EndDate
    <br />
    </text>
}*@