@using BetTeamsBattle.Frontend.Areas.NotAdmin.Localization.Resources.Views.BattleBets
@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Battles
@using Resources
@model BattleViewModel
@{
    Layout = MVC.Shared.Views.TwoColumns._TwoColumnsLayout;
}
@section LeftBlock {
    @Html.Action(MVC.NotAdmin.Battles.BattleTopTeams(Model.BattleId))
}
@section RightBlock {
    <div class="hed_s">
        <div class="hed_s_text">
            @Battles.Battle @Model.StartDate - @Model.EndDate @Model.Budget @Model.BetLimit
        </div>
    </div>
    @if (Model.BattleIsActive)
    {
        <div class="knopka_st_blok">
            <div class="knopka_st">
                <div class="knopka_st_text">
                    @Html.ActionLink(BattleBets.MakeBet, MVC.NotAdmin.BattleBets.MakeBet(Model.BattleId))
                </div>
            </div>
        </div>
    }
    @Html.Action(MVC.NotAdmin.BattleBets.MyBets(Model.BattleId))
}
