@using BetTeamsBattle.Data.Model.Enums
@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.BattleBets
@model MyBetViewModel
<table class="vibor">
    <tbody>
        <tr>
            @if (Model.IsClosed)
            {
                <td>
                    @Forms.Image(Model.StatusActionImage.ImageClass + " scr", Model.StatusActionImage.Title)
                </td>
            }
            else
            {
                <td>
                    @Html.Partial(MVC.NotAdmin.BattleBets.Views._OutcomeActionImage, Model.StatusActionImages[BattleBetStatus.Succeeded])
                </td>
                <td>
                    @Html.Partial(MVC.NotAdmin.BattleBets.Views._OutcomeActionImage, Model.StatusActionImages[BattleBetStatus.Failed])
                </td>
                <td>
                    @Html.Partial(MVC.NotAdmin.BattleBets.Views._OutcomeActionImage, Model.StatusActionImages[BattleBetStatus.CanceledByBookmaker])
                </td>
            }
        </tr>
    </tbody>
</table>
@if (Model.IsClosed)
{
    <span class="@BetResult.GetClass(Model.Result)">@Model.Result</span>
}
