@using BetTeamsBattle.Frontend.Areas.NotAdmin.Models.Accounts
@using Resources
@model SignInViewModel
@{
    Layout = MVC.Shared.Views.OneColumn._OneColumnLayout;               
}
@section Scripts {
    <link href="@Links.Scripts.openid_selector.css.openid_css" rel="stylesheet" type="text/css" />
    <script src="@Links.Scripts.openid_selector.js.openid_jquery_js" type="text/javascript"></script>
    <script src="@Links.Scripts.openid_selector.js.openid_en_js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            openid.init('openIdIdentifier');
        });
    </script>
}
@section Title {
    @Accounts.SigningIn
}

@using (Html.BeginForm(MVC.NotAdmin.Accounts.Authenticate(), FormMethod.Post, new { id = "openid_form", style="color:#FFF;" }))
{
    if (Model.Message != null)
    {
    <div style="color:#F00; padding-left:20px; text-shadow:1px 1px 1px #000; font-size:16px; font-family:Tahoma, Geneva, sans-serif; font-weight:bold;">
        @Model.Message
    </div>
    }
    
    <input type="hidden" name="action" value="verify" />

    <fieldset>
        <div id="openid_choice">
            <p>@Accounts.ClickIconToSignIn:</p>
            <div id="openid_btns">
            </div>
        </div>
        <div id="openid_input_area">
            <input id="openIdIdentifier" name="openIdIdentifier" type="text" value="http://" />
            <input id="openid_submit" type="submit" value="@Accounts.SignIn" />
        </div>
    </fieldset>
}