@using Links
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="@Scripts.jquery_1_6_2_min_js" type="text/javascript"></script>
    <script src="@Scripts.jquery_validate_min_js" type="text/javascript"></script>
    <script src="@Scripts.jquery_validate_unobtrusive_min_js" type="text/javascript"></script>
    
    @RenderSection("Scripts", false)

</head>

<body>
    @Html.Partial(MVC.NotAdmin.Accounts.Views.AuthenticationLink)
    @RenderBody()
</body>
</html>
